*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html:focus-within {
  scroll-behavior: smooth;
}
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/manrope-v14-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/manrope-v14-latin-800.woff2') format('woff2');
}
.flex-mixin {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  background-color: hsl(218, 23%, 16%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 50rem) {
  main {
    height: 90vh;
    justify-content: center;
  }
}
.light-blue-container {
  background-color: hsl(217, 19%, 24%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem 1rem 1rem;
  padding: 3rem 2rem 4rem;
  border-radius: 8px;
  max-width: 30rem;
}
@media screen and (min-width: 50rem) {
  .light-blue-container {
    margin: 0;
  }
}
h1 {
  font-size: 0.8rem;
  line-height: 0;
  color: hsl(150, 100%, 66%);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
blockquote {
  font-size: 1.75rem;
  text-align: center;
  margin: 1.5rem 0;
  color: hsl(193, 38%, 86%);
}
button {
  background-color: hsl(150, 100%, 66%);
  border: none;
  padding: 1.1rem;
  border-radius: 50%;
  position: relative;
  bottom: 3rem;
}
@media screen and (min-width: 50rem) {
  button {
    bottom: 2rem;
  }
}
button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2.2rem hsl(150, 100%, 66%);
}
img {
  max-width: 100%;
  display: block;
}
.attribution-container {
  display: flex;
  padding: 0 0 1rem;
  flex-grow: 1;
  align-items: flex-end;
}
.attribution-container .attribution {
  font-size: 0.7rem;
  text-align: center;
  color: hsl(193, 38%, 86%);
}
.attribution-container .attribution a {
  color: hsl(150, 100%, 66%);
}
